h1{
  color: blue;
}

p{
  font-style: italic;
}

.important{
  color:red
  font-size: 50px;
}

.author{
  width: 50%;
  font-weight: bold;
  text-align: right; 
}

.badass{
  font-style: oblique;
  color: teal;
}
