body{
  background-color: skyblue;
}

h1{
  color: blue;
}

p {
  font-style: italic;
}

.important {
  color: red;
  font-size: 50px;
}

.unimportant {
  color: magenta;
}

.author {
  width: 50%;
  font-weight: bold;
  text-align: right;
}

.badass {
  font-style: oblique;
  color: teal;
}

.pet {
  border-radius: 50px;
  width: 50%;
  padding:16px;
  border:15px solid pink;
  background-color:yellow;
}

.future {
  color: brown;
}

#stink {
  text-decoration: underline;
}

.spacing {
  margin-top: 50px;
  margin-bottom: 50px;
}

button {
  font-size: 30px;
}

.light-setting {
  background-color: white;
  color: black;
}

.dark-setting {
  background-color: black;
  color: white;
}
